@import '../../App.css';

:root {
    --border-radius: 2px;
    --font-weight: 800;
}

.button {
    color: var(--fgColor);
    background-color: var(--bgColor);
    /* background: none; */
    border: var(--border-radius) solid var(--fgColor);
    padding: 0.5rem 1rem;
    /* margin: 0.5rem 0.5rem; */

    /* Remove default style */
    font: inherit;
    cursor: pointer;
    outline: inherit;

    /* Make the hover smoother */
    transition: 0.2s;
    white-space: nowrap
}

.button:hover {
    background-color: var(--fgColor);
    color: white;
}

.button:disabled {
    background-color: var(--bgColor);
    color: var(--fgColorLighter);
    border: 1px solid var(--fgColorLighter);
}

.contained {
    width: 100%;
    border-color: var(--bgColor);
    padding: 0 1rem;
    border-bottom: 5px solid var(--fgColor);
    /* background: none; */
    padding: 0.5rem 1rem;

    /* Remove default style */
    font: inherit;
    cursor: pointer;
    outline: inherit;

    /* Make the hover smoother */
    transition: 0.2s;

    background-color: var(--fgColor);
    color: var(--bgColor);
    border: 1px solid var(--fgColor);
}


.toggle_button {
    width: 100%;
    border-color: var(--bgColor);
    border: 3px solid var(--fgColor);
    padding: 0 1rem;
    border-bottom: 5px solid var(--fgColor);

    color: var(--fgColor);
    background-color: var(--bgColor);
    /* background: none; */
    padding: 0.5rem 1rem;

    /* Remove default style */
    font: inherit;
    cursor: pointer;
    outline: inherit;

    /* Make the hover smoother */
    transition: 0.2s
}

.toggle_button:hover {
    background-color: var(--fgColor);
    color: white;
}

.toggle_button.active {
    background-color: var(--fgColor);
}