@import '../../App.css';

.header_container {
    background: rgb(45, 61, 232);
    background: linear-gradient(0deg, rgba(45, 61, 232, 1) 0%, rgba(164, 45, 232, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    color: var(--headerTextColor);
}

.header_logo_container {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.header_back_button {
    background: none;
    color: var(--headerTextColor);
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 48px;
    font-size: 2em;
    font-weight: bold;
}

.header_tagline {
    padding: 1rem;
    color: var(--headerTextColor);
    text-align: end;
}