:root {
  --purpleColorLighter: #A42DE8;
  --blueColorLighter: #318AFF;
  --blueColorDarker: #2D3DE8;
  --bgColor: #ffffff;
  --fgColor: #800080;
  --fgColorLighter: rgba(128, 0, 128, 0.5);
  --headerTextColor: #ffffff;
  --headerFontFamily: 'DynaPuff', cursive;
  --bodyFontFamily: 'Ubuntu', sans-serif;

}

/* It follows the system's color scheme */
@media (prefers-color-scheme: dark) {
  :root {
    --bgColor: #422142;
    --fgColor: #f0c4f0;
    --fgColorLighter: rgba(210, 169, 210, 0.5);
    --headerTextColor: var(--fgColor);
  }
}

h1 {
  font-family: var(--headerFontFamily);
  color: var(--fgColor);
}

h3 {
  font-family: var(--headerFontFamily);
  font-size: x-large;
  color: var(--fgColor);
}

h4 {
  font-family: var(--headerFontFamily);
}

p {
  font-family: var(--bodyFontFamily);
}

.body {
  padding: 1em;
  font-family: var(--bodyFontFamily);
}

.sample_card_list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.create_sample_card {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-self: center;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}